<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="react.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header-bar"></div>
        <div class="left">
          <a
            href="http://localhost:3000/"
            target="_blank"
            rel="noopener noreferrer"
            ><img class="header-logo" src="img/logo.png" alt="Logo" />
          </a>
        </div>
        <div class="right"></div>
      </div>
      <div class="main">
        <div class="main-single">
          <a
            href="http://localhost:3000/"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="img/banner.png"
              alt=""
              width="600"
              style="max-width: 100%"
          /></a>
        </div>
        <div class="main-single-three-column">
          <div class="three-columns">
            <div class="single-column">
              <div class="column-image">
                <a href="#" target="_blank" rel="noopener noreferrer"
                  ><img
                    src="img/question.png"
                    alt=""
                    class="three-column-image"
                /></a>
              </div>
              <div class="column-title">FAQ</div>
              <div class="column-text">This is placeholder text</div>
            </div>
            <div class="single-column">
              <div class="column-image">
                <a
                  href="https://byui-cit.atlassian.net/wiki/spaces/VSSP/overview?homepageId=2392066"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><img
                    src="img/confluence.png"
                    alt=""
                    class="three-column-image"
                /></a>
              </div>
              <div class="column-title">Confluence</div>
              <div class="column-text">This is placeholder text</div>
            </div>
            <div class="single-column">
              <div class="column-image">
                <a href="#" target="_blank" rel="noopener noreferrer"
                  ><img
                    src="img/tutorial.png"
                    alt=""
                    class="three-column-image"
                /></a>
              </div>
              <div class="column-title">Quick Tutorial</div>
              <div class="column-text">This is placeholder text</div>
            </div>
          </div>
        </div>
        <div class="main-single section-one">
          <div class="main-single-left">
            <a href="#" target="_blank" rel="noopener noreferrer"
              ><img src="img/keyboard.jpg" alt="" class="main-single-image"
            /></a>
          </div>
          <div class="main-single-right">
            <div class="main-single-right-title">How to send your token</div>
            <div class="main-single-right-text">
              Why we ask each professor to send their token and how to do it...
            </div>
            <button
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="main-single-button"
            >
              Read More
            </button>
          </div>
        </div>
        <div class="main-single-last">
          <div class="main-single-title">How to add new template</div>
          <div class="main-single-text">
            This is how you add a new template...
          </div>
          <div class="main-single-button">Learn how</div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-logo">
          <div class="footer-logo-logo">
            <a
              href="http://localhost:3000/"
              target="_blank"
              rel="noopener noreferrer"
              ><img src="img/logo.png" alt="Logo" class="footer-logo-img" />
            </a>
          </div>
          <div class="footer-logo-description">The vm self-service app</div>
        </div>
        <div class="footer-extraInfo">
          <div class="footer-extraInfo-address">STC 342</div>
          <div class="footer-extraInfo-icons">
            <a href="#"
              ><img src="img/white-facebook.png" alt="" width="30"
            /></a>
            <a href="#"
              ><img src="img/white-twitter.png" alt="" width="30"
            /></a>
            <a href="#"
              ><img src="img/white-youtube.png" alt="" width="30"
            /></a>
            <a href="#"
              ><img src="img/white-linkedin.png" alt="" width="30"
            /></a>
            <a href="#"
              ><img src="img/white-instagram.png" alt="" width="30"
            /></a>
          </div>
          <div class="footer-extraInfo-subscribe">SUBSCRIBE</div>
        </div>
      </div>
    </div>
  </body>
</html>
